﻿@model IEnumerable<ShopBug.Model.Models.Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section jsFoodter{

    <script src="~/Assets/admin/js/controller/orderController.js"></script>
}

@section header{
    Quản lý Slide
}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Thông tin Slide
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Slide", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <a type="button" class="btn btn-primary" href="/Admin/Slide/Create">Create</a>
                            </div>
                        </div>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>DisplayOrder</th>
                                <th>Url</th>
                                <th>CreateDate</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">

                                    <td><a href="#"><img src="@item.Image" height="50" ; width="70" /></a></td>
                                    <td>@item.DispalyOrder</td>
                                    <td>@item.URL</td>
                                    <td>@item.CreatedDate</td>
                                    <td><a href="#" class="btn-sta" data-id="@item.ID">@(item.Status ? "Đã xác nhận" : "Chưa xác nhận")</a></td>
                                    <td>
                                        <a href="/Admin/Slide/Edit/@item.ID"><p class="fa fa-pencil-square-o"></p>Edit</a>
                                        |
                                        <p class="fa fa-trash-o">
                                            @Ajax.ActionLink("Delete" , "Delete", new {@id = item.ID } , new AjaxOptions {
                                           Confirm="Bạn có muốn xóa slide này ?",
                                           OnComplete = "$('#row_"+@item.ID+"').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </p>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>

                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
