﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
@section breadcrumbs{
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Liên hệ</li>
            </ol>
        </div>
    </div>
}

@section contact{
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5">
                <h3 style="color:#ff0000">Liên hệ với chúng tôi.</h3>
                <h4>Quý khách vui lòng gửi thông tin theo form sau :</h4>
                <br />
                @*<form>
                    <div class="form-group">
                        <label>Name :</label>
                        <input type="text" id="txtName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Phone :</label>
                        <input type="text" id="txtMobile" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Email :</label>
                        <input type="text" id="txtEmail" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Address :</label>
                        <input type="text" id="txtAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <textarea id="txtContent" class="form-control"></textarea>
                    </div>

                    <button id="btnCancel" type="reset" class="btn btn-primary">Reset</button>
                    <button id="btnSend" class="btn btn-success">Send</button>

                </form>*@
                @using (Html.BeginForm("SendMail", "Contact", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Name :</label>
                        <input name="name" type="text" id="txtName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Phone :</label>
                        <input name="phone" type="text" id="txtMobile" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Email :</label>
                        <input name="email" type="text" id="txtEmail" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Address :</label>
                        <input name="address" type="text" id="txtAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <textarea name="content" id="txtContent" class="form-control"></textarea>
                    </div>

                    <button id="btnCancel" type="reset" class="btn btn-primary">Reset</button>
                    <button type="submit" id="btnSend" class="btn btn-success">Send</button>
                }


            </div>

            <div class="col-md-7">
                <style>
                    #map {
                        height: 350px;
                        width: auto;
                    }
                </style>
                <h3>Thông tin liên hệ :</h3>
                @Html.Raw(Model.Content)

                <h4 style="color:#ff0000">Tìm Kiếm Trên Bản Đồ.</h4>
                <div id="map"></div>

                <script>

                    // This example displays a marker at the center of Australia.
                    // When the user clicks the marker, an info window opens.


                    function initMap() {
                        var uluru = { lat: 21.027950, lng: 105.785540 };
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 16,
                            center: uluru
                        });

                        var contentString = '<div id="content">' +
                            '<div id="siteNotice">' +
                            '</div>' +
                            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
                            '<div id="bodyContent">' +
                            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                            'sandstone rock formation in the southern part of the ' +
                            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) ' +
                            'south west of the nearest large town, Alice Springs; 450&#160;km ' +
                            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major ' +
                            'features of the Uluru - Kata Tjuta National Park. Uluru is ' +
                            'sacred to the Pitjantjatjara and Yankunytjatjara, the ' +
                            'Aboriginal people of the area. It has many springs, waterholes, ' +
                            'rock caves and ancient paintings. Uluru is listed as a World ' +
                            'Heritage Site.</p>' +
                            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
                            'https://en.wikipedia.org/w/index.php?title=Uluru</a> ' +
                            '(last visited June 22, 2009).</p>' +
                            '</div>' +
                            '</div>';

                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });

                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map,
                            title: 'Uluru (Ayers Rock)'
                        });
                        marker.addListener('click', function () {
                            infowindow.open(map, marker);
                        });
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABOzF4H1wcISJmB_K2d-3Kqjd_3ELF2EI&callback=initMap">
                </script>
                <script src="~/Assets/client/js/controller/Contact.js"></script>
            </div>
        </div>
    </div>
}



