﻿@model IEnumerable<ShopBug.Model.Models.Footer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}


@section header{
    Quản lý Footer
}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Thông tin Footer
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Content</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">

                                    <td>@item.Content</td>    
                                    <td><a href="#" class="btn-status" data-id="@item.ID">@(item.Status ? "True" : "False")</a></td>
                                    <td>
                                        <a href="/Admin/Footer/Edit/@item.ID"><p class="fa fa-pencil-square-o"></p>Edit</a>   
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
        
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
