﻿@model ShopBug.Model.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}


@section header{
    Order Details
}

<div>
    <h4>Order :  @Html.DisplayFor(model => model.ID)</h4>
    <hr />
    <dl class="table table-striped table-bordered table-hover">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName) :  @Html.DisplayFor(model => model.CustomerName)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmail) : @Html.DisplayFor(model => model.CustomerEmail)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress) : @Html.DisplayFor(model => model.CustomerAddress)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerMobile) :  @Html.DisplayFor(model => model.CustomerMobile)
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate) :  @Html.DisplayFor(model => model.ModifiedDate)
       
        </dt>
           


    </dl>
</div>

<div>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>

        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td> @(String.Format("{0:N0}", item.Price))₫</td>
            </tr>      
        }
    </table>
  
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
