﻿@using ShopBug.Model.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}


@section header{
    Danh sách Order
}

@section jsFoodter{
    <script src="~/Assets/admin/js/controller/orderController.js"></script>
}


<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Thông tin Order
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>

                            <th>CustomerName</th>
                            <th>CustomerEmail</th>
                            <th>CustomerAddress</th>
                            <th>CustomerMobile</th>
                            <th>ModifiedDate</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">

                                <td>@item.CustomerName</td>
                                <td><a>@item.CustomerEmail</a></td>
                                <td>@item.CustomerAddress</td>
                                <td>@item.CustomerMobile</td>
                                <td>@String.Format("{0:MM/dd/yyyy}", item.ModifiedDate)</td>
                                <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Đã xác nhận" : "Xác nhận thanh toán")</a></td>
                                <td>
                                    <a href="/Admin/Order/Details/@item.ID"><p class="fa fa-eye">Detials</p></a>
                                    |
                                    <p class="fa fa-trash-o">
                                        @Ajax.ActionLink("Delete" , "Delete", new {@id = item.ID } , new AjaxOptions {
                                       Confirm="Bạn có muốn xóa order này ?",
                                       OnComplete = "$('#row_"+@item.ID+"').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </p>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>

            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>


<div class="clear"></div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="div-pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
