﻿<!DOCTYPE html>
<html>
<head>
    <title> Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
    <meta charset="utf-8" />
</head>
<body>
    Thông tin đơn hàng mới từ khách hàng: {{CustomerName}} <br/>
    Điện thoại: {{Phone}} <br />
    Email: {{Email}}<br />
    Địa chỉ: {{Address}}<br />
    Chi tiết SP : {{Details}}<br/>
    Trị giá: {{Total}}<br />
</body>
</html>