﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@section breadcrumbs{
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Giới thiệu</li>
            </ol>
        </div>
    </div>
}

    <div class="page topic-page" id="ph-topic">
        <div class="page-title" style="text-align:center">
            <h1>Giới thiệu</h1>
        </div>
        <div class="page-body">
            <p>Ra mắt vào tháng 7/2018, <strong>sport9.vn</strong> tự hào là nơi cung cấp giày đá bóng chính hãng cho cộng đồng phủi cả nước. <br>Chúng tôi cam kết chỉ bán hàng chính hãng, nói không với hàng nhái, hàng kém chất lượng!</p>
            <p>&nbsp;<img src="~/Assets/client/images/new/chinh-sach-hang-chinh-hang-anh-15.png" alt=""></p>
            <p><br><strong>Sport9.vn - Địa điểm mua giày bóng đá chính hãng quy tín hàng đầu</strong></p>
            <p><strong>Địa chỉ:</strong>&nbsp;18 Tam Trinh, Hai Bà Trưng, Hà Nội(quý khách vui lòng gọi điện trước khi qua kiểm tra hàng trực tiếp)<br><strong>Hotline/Zalo:</strong>&nbsp;0988 439 116<br><strong>Facebook:</strong> https://www.facebook.com/sport9.vn</p>
        </div>
    </div>

