﻿@model ShopBug.Model.Models.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    var detailsProduct = (List<ShopBug.Model.Models.Product>)ViewBag.DetailsProduct;

}
@section breadcrumbs{
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Chi tiết sản phẩm</li>
            </ol>
        </div>
    </div>
}

@section detail{
    <div class="col-md-9 single-main-left">
        <div class="sngl-top">
            <div class="col-md-5 single-top-left">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="@Model.Image">
                            <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                        </li>
                        <li data-thumb="@Model.MoreImage">
                            <div class="thumb-image"> <img src="@Model.MoreImage" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                        </li>

                    </ul>
                </div>
                <!-- FlexSlider -->
                <script src="/Assets/client/js/imagezoom.js"></script>
                <script defer src="/Assets/client/js/jquery.flexslider.js"></script>
                <link rel="stylesheet" href="~/Assets/client/css/layoutstyle.css" type="text/css" media="screen" />

                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function () {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
            </div>
            <div class="col-md-7 single-top-right">
                <div class="single-para simpleCart_shelfItem">
                    <h3 style="color:black">@Model.Name</h3>
                    <div class="star-on">
                        <ul class="star-footer">
                            <li><a href="#"><i> </i></a></li>
                            <li><a href="#"><i> </i></a></li>
                            <li><a href="#"><i> </i></a></li>
                            <li><a href="#"><i> </i></a></li>
                            <li><a href="#"><i> </i></a></li>
                        </ul>
                        <div class="review">
                            <a href="#"> 1 đánh giá </a><br />
                            <a></a>
                        </div>
                        <div class="clearfix"> </div>
                        Thương hiệu : <span>Mizuno</span>
                    </div>
                    <h3 class="item_price" style="color:red">@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên Hệ")₫</h3>
                    <p>@Model.Details.</p>

                    @*<div>
                        @Html.DropDownList("ListSize", ViewBag.SizeName as SelectList, "Please Select Size")
                    </div><br />*@
                    <div class="green-text">
                        <i class="fa fa-truck"> <img src="~/Assets/client/images/icon/icon1.png" />Miễn phí vận chuyển</i><br />
                        <i class="fa fa-gift"><img src="~/Assets/client/images/icon/icon2.png" />Tặng Túi rút 2 ngăn Hoặc Tất chống trơn</i>
                    </div>
                    <div class="product-hotline">
                        <h4>  <i class="fa fa-mobile-phone"><img src="~/Assets/client/images/icon/icon3.png" /></i>Liên hệ đặt hàng : 0988.439.116</h4>
                    </div>

                    <a href="/Cart/AddItem?productId=@Model.ID&quantity=1" class="add-cart item_add" style="font:caption">ĐẶT HÀNG</a>

                    @*<div class="mota">
                            <ul>
                                <li> <b>+</b> Thiết kế siêu nhẹ (230gr/size UK 8), siêu mềm, ôm khít bàn chân đem lại cảm giác thật như đi chân trần</li>
                            </ul>
                        </div>*@
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="tabs">
            <ul class="menu_drop">
                <li class="item1">
                    <a href="#"><img src="/Assets/client/images/arrow.png" alt="">Chi Tiết Sản Phẩm</a>
                </li>
                <p>@Model.Description</p>
                @*<li class="item2">
                        <a href="#"><img src="/Assets/client/images/arrow.png" alt="">Đánh giá</a>
                    </li>*@
                <p>@Model.MetaDescription</p>

            </ul>
        </div>
        <div class="latestproducts">
            <div class="product-one">
                <div class="col-md-4 product-left p-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Assets/client/images/kamitos/kamito3.jpeg" alt=""></a>
                        <div class="product-bottom">
                            <h3>@Model.Name</h3>
                            <p>Explore Now</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">780000₫</span></h4>
                        </div>
                        <div class="srch">

                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-left p-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Assets/client/images/kamitos/kamito4.jpeg" alt=""></a>
                        <div class="product-bottom">
                            <h3>@Model.Name</h3>
                            <p>Explore Now</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">@Model.Price₫</span></h4>
                        </div>
                        <div class="srch">

                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-left p-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="single.html" class="mask"><img class="img-responsive zoom-img" src="~/Assets/client/images/kamitos/kamito5.jpeg" alt=""></a>
                        <div class="product-bottom">
                            <h3>@Model.Name</h3>
                            <p>Explore Now</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">340000₫</span></h4>
                        </div>
                        <div class="srch">

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

}
@section rightContent{
    <div class="w_sidebar">
        <section class="sky-form">
            <h4>Thương Hiệu</h4>
            <div class="row1 scroll-pane">
                <div class="col col-4">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Mizuno</label>
                </div>
                <div class="col col-4">
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Adidas</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Kamito</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Nike</label>
                </div>
            </div>
        </section>
        <section class="sky-form">
            <h4>Kích cỡ</h4>
            <div class="row1 row2 scroll-pane">
                <div class="col col-4">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>38</label>
                </div>
                <div class="col col-4">
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>39</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>40</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>41</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>42</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>43</label>

                </div>
            </div>
        </section>
        <section class="sky-form">
            <h4>Màu Sắc</h4>
            <ul class="w_nav2">
                <li><a class="color1" href="#"></a></li>
                <li><a class="color2" href="#"></a></li>
                <li><a class="color3" href="#"></a></li>
                <li><a class="color4" href="#"></a></li>
                <li><a class="color5" href="#"></a></li>
                <li><a class="color6" href="#"></a></li>
                <li><a class="color7" href="#"></a></li>
                <li><a class="color8" href="#"></a></li>
                <li><a class="color9" href="#"></a></li>
                <li><a class="color10" href="#"></a></li>
                <li><a class="color12" href="#"></a></li>
                <li><a class="color13" href="#"></a></li>
                <li><a class="color14" href="#"></a></li>
                <li><a class="color15" href="#"></a></li>
                <li><a class="color5" href="#"></a></li>
                <li><a class="color6" href="#"></a></li>
                <li><a class="color7" href="#"></a></li>
                <li><a class="color8" href="#"></a></li>
                <li><a class="color9" href="#"></a></li>
                <li><a class="color10" href="#"></a></li>
            </ul>
        </section>
        <section class="sky-form">
            <h4>Ưu Đãi</h4>
            <div class="row1 row2 scroll-pane">
                <div class="col col-4">
                    <label class="radio"><input type="radio" name="radio" checked=""><i></i>Giảm đến 60 %</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Giảm đến 50 %</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Giảm đến 40 %</label>
                </div>
                <div class="col col-4">
                    <label class="radio"><input type="radio" name="radio"><i></i>Giảm đến 30 %</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Giảm đến 20 %</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Giảm đến 10 %</label>
                </div>
            </div>
        </section>
    </div>

}


