﻿@model ShopBug.Model.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
@section jsFooter{

    <script type="text/javascript">
        function Redirect() {
            window.location.href = "/Cart/Success";
        }
    </script>
}

@section breadcrumbs{
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Thông tin chi tiết </li>
            </ol>
        </div>
    </div>
}

<div>
    <div class="page-title" style="text-align:center">
        <h1>Đơn hàng</h1>
    </div>
    <div class="khach_hang">
        <h4 class="alert alert-success">Thông Tin Khách Hàng</h4>
        <table class="table table-striped table-bordered table-hover">

            <tr>
                <th width="80px">Tên khách hàng</th>
                <th width="100px">Email</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>

            </tr>
            <tr>
                <td>@Model.CustomerName</td>
                <td>@Model.CustomerEmail</td>
                <td>@Model.CustomerAddress</td>
                <td>@Model.CustomerMobile</td>

            </tr>

        </table>
    </div>
    <div class="admin">
        <h4 class="alert alert-success">SHOPPER</h4>
        <table class="table table-striped table-bordered table-hover">

            <tr>
                <th width="80px">Tên</th>
                <th width="100px">Email</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
            </tr>
            <tr>
                <td>Admin</td>
                <td>phanvangiang1998@gmail.com</td>
                <td>18 Tam Chinh</td>
                <td>0988439116</td>

            </tr>

        </table>
    </div>
    
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Tên Sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Số lượng</th>
            <th>Giá</th>
        </tr>

        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td><img src="@item.Product.Image" height="50" width="50" /></td>
                <td>@item.Quantity</td>
                <td> @(String.Format("{0:N0}", item.Price))₫</td>
            </tr>
        }
    </table>

    <div>
        <form>
            <input type="button" class="btn btn-primary" value="Xác nhận" onclick="Redirect();" />
        </form>
    </div>
</div>