﻿@using System.Configuration
@model List<ShopBug.Web.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@section breadcrumbs{
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">New Products</li>
            </ol>
        </div>
    </div>
}

@section jsFooter{
    <script src="/Assets/client/js/controller/cartController.js"></script>
}
@section cart{
    @if (Model.Count > 0)
    {
        <div class="col-md-9 prdt-left">
            <table class="table">
                <thead>
                    <tr>
                        <td>Mã Sp</td>
                        <td>Tên Sp</td>
                        <td>Ảnh Sp</td>
                        <td>Số lượng </td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Product.ID</td>
                            <td>@item.Product.Name</td>
                            <td><img src=" @item.Product.Image" width="100" /></td>
                            <td><input type="text" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" /> </td>
                            <td>@item.Product.Price.GetValueOrDefault(0)₫</td>
                            <td>@(item.Product.Price.GetValueOrDefault(0) * item.Quantity)₫</td>
                            <td><a href="#" data-id="@item.Product.ID" class="btn-delete">Delete</a></td>

                        </tr>
                    }

                    <tr>
                        <td colspan="5" align="right"> <b>Tổng tiền :</b></td>
                        <td>
                            @{
                                List<ShopBug.Web.Models.CartItem> temp = (List<ShopBug.Web.Models.CartItem>)Session["CartSession"];
                                var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Product.Price.GetValueOrDefault(0)));
                            }
                            <b>@total₫</b>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="paypaloff">
                <button id="btnContinue" class="btn btn-primary">Tiếp tục mua hàng</button>
                <button id="btnUpdateData" class="btn btn-primary">Cập nhật giỏ hàng</button>
                <button id="btnDeleteAll" class="btn btn-primary">Xoá giỏ hàng</button>
                <button id="btnPayment" class="btn btn-primary">Thanh toán</button>
            </div>
            @*<div class="paypalon">
                <form action="@ConfigurationManager.AppSettings["urlSubmitPayment"]" method="post">
                    <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["accountBusiness"]" />
                    <input type="hidden" name="cmd" value="_xclick" />

                    <input type="hidden" name="item_name" value="Checkout" />
                    <input type="hidden" name="amount" value="@total" />
                    <input type="hidden" name="currency_code" value="USD" />

                    <input type="image" name="submit" border="0"
                           src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                           alt="Paypal - The safer, easier way to pay online" />
                    <img alt="" border="0" width="1" height="1"
                         src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" />
                </form>
            </div>*@
        </div>
    }
    else
    {
        <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
    }



}

