﻿@model List<ShopBug.Web.Models.CartItem>

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@section breadcrumbs{
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">New Products</li>
            </ol>
        </div>
    </div>
}
@section payment{
    <div class="col-md-9 prdt-left">
        <table class="table">
            <thead>
                <tr>
                    <td>Mã Sp</td>
                    <td>Tên Sp</td>
                    <td>Ảnh Sp</td>
                    <td>Số lượng </td>
                    <td>Đơn giá</td>
                    <td>Thành tiền</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Product.ID</td>
                        <td>@item.Product.Name</td>
                        <td><img src=" @item.Product.Image" width="100" /></td>
                        <td><input type="text" class="quantity" value="@item.Quantity" /> </td>                       
                        <td>@item.Product.Price.GetValueOrDefault(0)₫</td>
                        <td>@(item.Product.Price.GetValueOrDefault(0) * item.Quantity)₫</td>
                    </tr>
                }             
            </tbody>
        </table>


    </div>
    <div class="col-md-9 prdt-left">

        <div class="col-md-6">
            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Người nhận</label>
                    <input name="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Điện thoại</label>
                    <input name="mobile" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input name="address" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Gửi đơn hàng</button>
            }
        </div>

    </div>
}
