﻿
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@section breadcrumbs{
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Hoàn thành</li>
            </ol>
        </div>
    </div>
}

<div style="text-align: center">
    <span class="alert alert-success">Bạn mua hàng thành công</span>
</div>

