﻿@using ShopBug.Model.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách khách hàng
}

@section jsFoodter{
    <script src="~/Assets/admin/js/controller/orderController.js"></script>
}
<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Thông tin Order
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Customer", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <input type="text" placeholder="Nhập tên khách hàng" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                            </div>
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-success" value="Search">Search</button>
                            </div>
                        </div>
                    </div>
                }
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>CreateDate</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.ID">

                                        <td>@item.Name</td>
                                        <td>@item.Address</td>
                                        <td><a>@item.Email</a></td>
                                        <td>@item.Phone</td>
                                        <td>@String.Format("{0:MM/dd/yyyy}", item.CreatedDate)</td>
                                        <td><a href="#" class="btn-status2" data-id="@item.ID">@(item.Status ? "Đã xác nhận" : "Chưa xác nhận")</a></td>
                                        <td>                                      
                                            <a href="/Admin/Customer/Edit/@item.ID"><p class="fa fa-pencil-square-o"></p>Edit</a>
                                            |
                                            <p class="fa fa-trash-o">
                                                @Ajax.ActionLink("Delete" , "Delete", new {@id = item.ID } , new AjaxOptions {
                                               Confirm="Bạn có muốn xóa khách hàng này ?",
                                               OnComplete = "$('#row_"+@item.ID+"').remove()",
                                               HttpMethod = "Delete"
                                           })
                                            </p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

