﻿<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Sport Shoes</title>
    <link href="/Assets/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Assets/client/css/jquery-ui.css" rel="stylesheet" />
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <script src="/Assets/client/js/jquery-1.11.0.min.js"></script>
    <script src="/Assets/client/js/jquery-ui.js"></script>
    <script src="/Assets/client/js/bootstrap.min.js"></script>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="/Assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Assets/client/css/new.css" rel="stylesheet" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="sport shoes" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="/Assets/client/js/simpleCart.min.js"></script>
    <link href="/Assets/client/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/Assets/client/js/memenu.js"></script>

    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!--dropdown-->
    <script src="/Assets/client/js/jquery.easydropdown.js"></script>
    <script>
        $(document).ready(function () {
            $('.memenu li').hover(function () {
                $(this).find("ul:first").slideDown(100);
            }, function () {
                $(this).find("ul:first").hide(100);
            });
        });
    </script>

</head>
<body>
    <!--top-header-->
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-6 top-header-left">
                    <div class="drop">
                        <div class="box">
                            <select tabindex="4" class="dropdown drop">
                                <option value="" class="label">Dollar :</option>
                                <option value="1">Dollar</option>
                                <option value="2">Euro</option>
                            </select>
                        </div>
                        <div class="box1">
                            <select tabindex="4" class="dropdown">
                                <option value="" class="label">English :</option>
                                <option value="1">English</option>
                                <option value="2">French</option>
                                <option value="3">German</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                @{ Html.RenderAction("HeaderCart", "Home");}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--top-header-->
    <!--start-logo-->
    <div class="logo">
        @*<a href="/" ref="nofollow"><h1>sport shoes</h1></a>*@
        <div class="container">
            <div class="row">
                <div class="col-lg-3 logo-header">
                    <a href="/"> <img src="~/Assets/client/images/icon/giay_da_bong_chinh_hang.png" width="205" height="45" /></a>
                </div>
                <div class="col-lg-3">
                    <div class="header-info-block">
                        <div class="header-info-icon">
                            <img src="~/Assets/client/images/icon/icons8-checked-checkbox-48.png"/>
                        </div>
                    </div>
                    <div class="pull-left">
                        <h3>Cam kết</h3>
                        <p>
                            <strong>100%</strong> giày chính hãng
                        </p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header-info-block">
                        <div class="header-info-icon">
                            <img src="~/Assets/client/images/icon/icons8-ringer-volume-48.png" />
                        </div>
                    </div>
                    <div class="pull-left">
                        <h3>Hỗ trợ 24/7</h3>
                        <p>
                            0988.439.116
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="truck">
                        <div class="header-info-block">
                            <div class="header-info-icon">
                                <img src="~/Assets/client/images/icon/icon1.png" />
                            </div>
                        </div>
                        <div class="pull-left">
                            <h3>Miễn phí vận chuyển</h3>
                            <p>
                                Đơn hàng từ 599k, nội thành Hà Nội
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
       
    </div>
    <!--start-logo-->
    <!--bottom-header-->
    <div class="header-bottom">
        @{ Html.RenderAction("MainMenu", "Home");}
    </div>
    <!--bottom-header-->
    <!--banner-starts-->


    @RenderSection("slide", required: false)

    <!--banner-ends-->
    <!--about-starts-->

    @RenderSection("about", required: false)

    <!--about-end-->
    <!--product-starts-->
    @RenderSection("productHome", required: false)

    @RenderBody()

    <!--product-end-->
    <!--information-starts-->
    <div class="information">
        @{ Html.RenderAction("Footer", "Home");}
    </div>
    <!--information-end-->
    <!--footer-starts-->
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-6 footer-left">
                    <form>
                        <input type="text" name="searchString" placeholder="Search.." value="@ViewBag.SearchString" onfocus="this.value = '';" {this.value='Enter Your Email' ;}">
                        <input type="submit" value="Search">
                    </form>
                </div>
                <div class="col-md-6 footer-right">
                    <p>© 2018 Sport Shoes All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--footer-end-->

</body>
</html>