﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    @RenderSection("breadcrumbs", required: true)

</div>
<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="prdt">
    <div class="container">
        <div class="prdt-top">

            @RenderSection("LeftContent", required: false)
            @RenderSection("cart", required: false)
            @RenderSection("payment", required: false)

            @RenderSection("detail", required: false)
            @RenderSection("jsFooter", required: false)
            @RenderSection("contact", required: false)

            <div class="col-md-3 prdt-right">
                @RenderSection("rightContent", required: false)
            </div>
            <div class="clearfix"></div>
            @RenderBody()
        </div>
        <div class="splq">
            @RenderSection("splq" , required: false)
        </div>
        </div>
    </div>
