﻿@model List<ShopBug.Web.Models.CartItem>

@{
    ViewBag.Title = "HeaderCart";
}

<div class="col-md-6 top-header-left">
    <div class="cart box_1">
        <a href="/Cart/Index">
            <div class="total">
                @if (Session["CartSession"] != null)
                {
                    {
                        List<ShopBug.Web.Models.CartItem> temp = (List<ShopBug.Web.Models.CartItem>)Session["CartSession"];
                        var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Product.Price.GetValueOrDefault(0)));
                        @total
                    }
                }
                else
                {
                <span>0</span>
                }

            </div>
            <img src="/Assets/client/images/cart-1.png" alt="" />
        </a>
        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
        <div class="clearfix"> </div>
    </div>
</div>