﻿@model List<ShopBug.Model.Models.Menu>

<div class="container">
    <div class="header">
        <div class="col-md-9 header-left">
            <div class="top-nav">
                <ul class="memenu skyblue">
                    @foreach (var item in Model)
                    {
                        <li class="grid">

                            <a href="@item.URL" target="@item.Target">@item.Name</a>
                            @if (item.ID == item.DisplayOrder)
                            {
                                <ul>
                                    <li><a href="/san-pham">Giày bóng đá Kamito</a></li>
                                    <li><a href="/san-pham-nike">Giày bóng đá Nike</a></li>
                                    <li><a href="#">Giày bóng đá Adidas</a></li>
                                    <li><a href="#">Giày bóng đá Akaka</a></li>
                                    <li><a href="#">Giày bóng đá Mizuno</a></li>
                                </ul>
                            }
                        </li>
                    }

                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 header-right">
            <div class="search-bar">
                <form action="/tim-kiem" method="get">
                    <input type="text" id="txtKeyword" name="keyword" placeholder="Tìm kiếm">
                    <input type="submit" value="">
                </form>
                <script src="/Assets/client/js/controller/baseController.js"></script>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
