﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@section breadcrumbs{
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Tin Tức</li>
            </ol>
        </div>
    </div>
}
<div class="image group">
        <div class="grid images_3_of_1">
            <img src="~/Assets/client/images/new/p1.jpeg" alt="">
        </div>
        <div class="grid news_desc">
            <h3>Hướng dẫn chọn size giày đá bóng chính hãng</h3>
            <h4>Đến ngay 1 Store bất kỳ để thử size:<span><a href="#"> 08 Tháng Mười Một 2018</a></span></h4>
            <p>Cách này là đơn giản và chính xác nhất. Việc thử giày bóng đá tại cửa hàng chính hãng giúp chúng ta biết chính xác size và biết được form giày nào phù hợp nhất với mình. Một lưu ý là giày bóng đá phải mang vừa vặn, không quá chật kích mũi ( sẽ gây cảm giác nhức móng chân trong quá trình thi đấu ) cũng như không quá thừa chiều dài ( sẽ khó xử lý, sút bóng và cảm giác không chắc chân )..</p>
            <p>Đối với những người chân thon, gang bàn chân nhỏ và gầy , việc chọn mua giày bóng đá khá dễ dàng vì chỉ cần căn cứ vào chiều dài. Nhưng với những người chân bè, gang bàn chân to và dầy, cần chú ý đến form đôi giày mình muốn mua. Về thiết kế thì các mẫu giày bóng đá chính hãng của NIKE khá ôm và bó bề ngang, đặc biệt là dòng sản phẩm  <a href="#" title="more">[....]</a></p>
        </div>
</div>

<div class="image group">
    <div class="grid images_3_of_1">
        <img src="/Assets/client/images/new/p2.jpeg" alt="">
    </div>
    <div class="grid news_desc">
        <h3>Hướng dẫn vệ sinh và bảo quản giày đá bóng của bạn</h3>
        <h4>Các bước vệ sinh giày <span><a href="#"> 12 Tháng Mười Một 2018</a></span></h4>
        <p>Để có một đôi giày luôn sạch đẹp khi ra sân thì bạn cần phải vệ sinh giày đá bóng của mình thường xuyên.Bạn nên vệ sinh giày đá bóng của mình sau mỗi trận đấu sẽ là tốt nhất, vì viết bẩn quá lâu sẽ ố, khó ra, rất khó để làm sạch. Khi vệ sinh giày, các bạn nên dùng một tấm vải mềm, nhỏ và sạch, thấm vào nước xà bông rồi lau nhẹ nhàng lên bề mặt các viết bẩn trên bề mặt giày.</p>
        <p>Không dùng bàn chải để chà mạnh, sử dụng thuốc tẩy để giặt và không để nước thẩm vào bên trong giày vì những việc này sẽ làm đôi giày của bạn rất nhanh hỏng.Trong các trường hợp giày bị thấm nước, nên nhét giấy hút ẩm vào trong giày để nước thấm vào trong giấy rồi phơi giày <a href="#" title="more">[....]</a></p>
    </div>
</div>

<div class="image group">
    <div class="grid images_3_of_1">
        <img src="~/Assets/client/images/new/p3.jpeg" alt="">
    </div>
    <div class="grid news_desc">
        <h3>Phân Biệt các loại đinh giày đá bóng thông dụng </h3>
        <h4>Lựa chọn được một đôi giày phù hợp với mặt sân, phù hợp với người chơi <span><a href="#">16 Tháng Mười Một 2018</a></span></h4>
        <p>Để có thể lựa chọn được một đôi giày phù hợp với mặt sân, phù hợp với người chơi, thì việc đầu tiên là phải hiểu rõ đôi giày được dùng cho mặt sân nào, hay nói cách khác là phải hiểu rõ được đôi giày đó được thiết kế với loại đinh đặc trưng nào. Hôm nay mình xin chia sẻ ít kiến thức về các loại đinh của những đôi giày bóng đá phổ biến hiện nay.r.</p>
        <p>Loại đinh này là loại đinh thấp, các đinh thường được làm bằng nhựa tổng hợp, có độ bền cao, số lượng đinh nhiều, rải đều khắp bề mặt đế giày, thường có hình tròn nhỏ; được sử dụng chủ yếu ở mặt sân được làm bằng cỏ nhân tạo (chiều cao của cỏ thấp, số lượng cỏ không nhiều, không dày – có thể bắt gặp ở hầu hết các sân cỏ nhân tạo tại Việt Nam). <a href="#" title="more">[....]</a></p>
    </div>
</div>

