﻿
@using ShopBug.Model.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    var listSale = (List<ShopBug.Model.Models.Product>)ViewBag.Sale;
    var listSp = (List<ShopBug.Model.Models.Product>)ViewBag.SellProduct;

}

@section breadcrumbs{
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Sản phẩm khuyến mại</li>
            </ol>
        </div>
    </div>
}
@section LeftContent{
    <div class="col-md-9 prdt-left">
        <div class="spkm">
            <ul class="menu_spkm">
                <li class="itemkm">
                    <a href="#"><img src="/Assets/client/images/arrow.png" alt="">Sản phẩm khuyến mại</a>
                </li>
            </ul>
        </div>
        @foreach (var item in listSale)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="product-top">

                <div class="product-one">

                    <div class="col-md-4 product-left p-left" style="width:274.98px; height:375.8px">
                        <div class="product-main simpleCart_shelfItem">


                            <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt="@item.Name" /></a>

                            <div class="product-bottom">
                                <h3>@item.Name</h3>
                                <p>Explore Now</p>
                                <h4>
                                    <a class="item_add" href="/Cart/AddItem?productId=@item.ID&quantity=1"><i></i></a> 
                                    <span class=" item_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên Hệ")₫</span>
                                    <span class="old-price">@item.PromotionPrice₫</span>
                                </h4>

                            </div>
                            <div class="srch">
                                <span>-10%</span>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
        }
        <div class="clearfix"></div>

    </div>
}
@section rightContent{
    <div class="w_sidebar">
        <section class="sky-form">
            <h4>Thương Hiệu</h4>
            <div class="row1 scroll-pane">
                <div class="col col-4">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Mizuno</label>
                </div>
                <div class="col col-4">
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Adidas</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Kamito</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Nike</label>
                </div>
            </div>
        </section>
        <section class="sky-form">
            <h4>Kích cỡ</h4>
            <div class="row1 row2 scroll-pane">
                <div class="col col-4">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>38</label>
                </div>
                <div class="col col-4">
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>39</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>40</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>41</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>42</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>43</label>

                </div>
            </div>
        </section>
        <section class="sky-form">
            <h4>Màu Sắc</h4>
            <ul class="w_nav2">
                <li><a class="color1" href="#"></a></li>
                <li><a class="color2" href="#"></a></li>
                <li><a class="color3" href="#"></a></li>
                <li><a class="color4" href="#"></a></li>
                <li><a class="color5" href="#"></a></li>
                <li><a class="color6" href="#"></a></li>
                <li><a class="color7" href="#"></a></li>
                <li><a class="color8" href="#"></a></li>
                <li><a class="color9" href="#"></a></li>
                <li><a class="color10" href="#"></a></li>
                <li><a class="color12" href="#"></a></li>
                <li><a class="color13" href="#"></a></li>
                <li><a class="color14" href="#"></a></li>
                <li><a class="color15" href="#"></a></li>
                <li><a class="color5" href="#"></a></li>
                <li><a class="color6" href="#"></a></li>
                <li><a class="color7" href="#"></a></li>
                <li><a class="color8" href="#"></a></li>
                <li><a class="color9" href="#"></a></li>
                <li><a class="color10" href="#"></a></li>
            </ul>
        </section>
        <section class="sky-form">
            <h4>Ưu Đãi</h4>
            <div class="row1 row2 scroll-pane">
                <div class="col col-4">
                    <label class="radio"><input type="radio" name="radio" checked=""><i></i>Giảm đến 60 %</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Giảm đến 50 %</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Giảm đến 40 %</label>
                </div>
                <div class="col col-4">
                    <label class="radio"><input type="radio" name="radio"><i></i>Giảm đến 30 %</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Giảm đến 20 %</label>
                    <label class="radio"><input type="radio" name="radio"><i></i>Giảm đến 10 %</label>
                </div>
            </div>
        </section>
    </div>
}

@section splq{
    <div class="spkm1">
        <ul class="menu_spkm">
            <li class="itemkm">
                <a href="#"><img src="/Assets/client/images/arrow.png" alt="">Sản phẩm liên quan</a>
            </li>
        </ul>
    </div>
    @foreach (var item in listSp)
    {
        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
        <div class="product-top">

            <div class="product-one">

                <div class="col-md-4 product-left p-left" style="width:274.98px; height:375.8px">
                    <div class="product-main simpleCart_shelfItem">


                        <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt="@item.Name" /></a>

                        <div class="product-bottom">
                            <h3>@item.Name</h3>
                            <p>Explore Now</p>
                            <h4><a class="item_add" href="/Cart/AddItem?productId=@item.ID&quantity=1"><i></i></a> <span class=" item_price">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : "Liên Hệ")₫</span></h4>

                        </div>
                        <div class="srch">
                      
                        </div>

                    </div>

                </div>
            </div>

        </div>
    }
    <div class="clear"></div>
    <div class="div-pagination" align="center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
}
