﻿@using ShopBug.Model.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<FeedBack>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Quản lý FeedBack
}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Thông tin Feedback
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>CreateDate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">

                                    <td>@item.Name</td>
                                    <td>@item.Phone</td>
                                    <td><a>@item.Email</a></td>
                                    <td>@item.Address</td>
                                    <td>@item.CreatedDate</td>
                                    <td>
                                        <p class="fa fa-trash-o">
                                            @Ajax.ActionLink("Delete" , "Delete", new {@id = item.ID } , new AjaxOptions {
                                           Confirm="Bạn có muốn xóa Feedback này ?",
                                           OnComplete = "$('#row_"+@item.ID+"').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </p>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>

                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="clear"></div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="div-pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>