﻿body {

}
.group {
    zoom: 1;
}

.image {
    clear: both;
    margin: 0px;
    padding: 1.5%;
}

.grid {
    display: block;
    float: left;
    margin: 0% 0 0% 1.6%;
}

.grid:first-child {
        margin-left: 0;
}
.images_3_of_1 {
    width: 30.2%;
}
.images_3_of_1 img {
    max-width:100%;
    display: block;
    border: 1px solid #E0E0E0;
}
.news_desc {
    width: 68.1%;
}
.news_desc h3 {
        color: #B81D22;
        margin-bottom: 0.3em;
        font-size: 1.5em;
        text-transform: uppercase;
        font-family: 'ambleregular';
}
.news_desc h4 {
    font-size: 1.2em;
    color:#303030;
    padding-bottom: 5px;
}

.news_desc h4 span a {
    text-decoration: underline;
}
.news_desc p {
    font-size: 1em;
    padding: 5px 0;
   color: #747474;
    line-height: 1.8em;
}
.news_desc p a {
        font-size: 1em;
        color: #B81D22;
 }

.green-text {
    color: #337ab7;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
    border-top: solid 1px #ccc;
    padding-top: 10px;
}
.free-ship i {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa img{
    height: 18px;
    width: 18px;
    margin-right: 5px;
}
.product-hotline {
    color: #000;
    font: caption;
    padding-top: 10px;
}
.single-para p{
    font: caption;
    font-size: 14px;
    padding-bottom: 10px;
}
.single-para span {
    color: #337ab7;
}

.item1, item2 > p {
    font:caption;
    margin-top:10px;
}
.menu_drop p {
    margin-top: 10px;
}

.mota{
    font: caption;
    font-size: 14px;
    padding-top: 20px;
}
.mota li:hover{
    color: #73b6e1;
}
.menu_spkm {
    width: auto;
    height: auto;
    padding: 0;
    list-style: none;
}
.itemkm {
    font: caption;
    background: #000;
    margin-left: 15px;
    margin-right: 15px;
}
ul.menu_spkm li.itemkm {
    background: rgba(0, 0, 0, 0.78);
}
.menu_spkm > li > a {
    width: 100%;
    height: 3.2em;
    line-height: 3.5em;
    text-indent: 1.2em;
    display: block;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}

.menu_spkm ul li a {
    background: #fff;
    width: 100%;
    height: 5em;
    line-height: 1.8em;
    display: block;
    position: relative;
    font-size: 13px;
    color: #878d95;
}

    .menu_spkm ul li a:hover {
        text-decoration: none;
    }

.menu_spkm > li > a:hover{
    background: #73b6e1;
    text-decoration: none;
}
.splq {
    width: 1170px;
    padding-left: 15px;
}
.spkm1 {
    width: 825px;
    padding-top:15px;
}
.old-price {
    margin: 0 5px 0 0;
    font-size: 14px;
    color: #aaa;
    text-decoration: line-through;
}
.old-price{
    color:#aaa;
}

.lateproduct{
    width: 75%;
}

.paypaloff{
    width: 550px;
   float: left;
}
#btnUpdateData, #btnDeleteAll, #btnPayment {
    margin-left: 5px;
}
.paypalon{
    width: 100px;
    float: right;
    padding-right: 210px;
    margin-top: 5px;
}
.page{
    text-align: left;
}
.center-1 .page-title,
.center-1 .title {
    text-align: center;
}
.page-title {
    min-height: 50px;
    margin: 0 0 25px;
    border-bottom: 1px solid #ddd;
    padding: 6px 10px;
}

.page-title h1 {
        font-size: 25px;
        font-weight: normal;
}

    .page:after,
    .page-title:after,
    .page-body:after {
        content: "";
        display: block;
        clear: both;
    }
.page-body {
    font-size: 16px;
}
    .page-body strong {
    color: #000;
    }
.xac_nhan{
    width: 70px;
    height: 50px;
    background-color: blue;
}
.khach_hang{
    float: left;
    width: 550px;
}
.khach_hang h3{
    color:#ff0000;
}
.admin{
    float: right;
    width: 550px;
}
.admin h3{
    color: #ff0000;
}
.header-info-block, pull-left {
    float: left;
    margin-left: 15px;
}
.header-info-icon {
    margin-right: 10px;
    padding-top: 3px;
}
.header-info-icon img {
    height: 38px;
    width: 40px;
}
.pull-left h3{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 1px;
    position: relative;
}
.truck{
    float : right;
    margin-right: 20px;
}
