﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<ShopBug.Model.Models.Slide>)ViewBag.Slides;
    var listSellProduct = (List<ShopBug.Model.Models.Product>)ViewBag.SellProduct;
    var listRandom = (List<ShopBug.Model.Models.Product>)ViewBag.Random;
}

@section slide{
    <div class="bnr" id="home">

        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider4">

                @foreach (var item in slides)
                {
                    <li>
                        <img src="@item.Image" alt="" />
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>

}

<script src="/Assets/client/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
@section about{
    <div class="about">
        <div class="container">
            <div class="about-top grid-1">
                <div class="col-md-4 about-left">
                    <figure class="effect-bubba">
                        <img class="img-responsive" src="~/Assets/client/images/icon/download2.png" alt="" style="width:350px ; height:233.53px"/>
                        <figcaption>
                            <h2>KAMITO ESPADA Blue</h2>
                            <p>Hãy là người đầu tiên đánh giá sản phẩm này.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 about-left">
                    <figure class="effect-bubba">
                        <img class="img-responsive" src="~/Assets/client/images/icon/download (1).png"  style="width:350px ; height:233.53px" alt="" />
                        <figcaption>
                            <h4>KAMITO ESPADA Yellow</h4>
                            <p>Hãy là người đầu tiên đánh giá sản phẩm này.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4 about-left">
                    <figure class="effect-bubba">
                        <img class="img-responsive" src="~/Assets/client/images/icon/download.png"  style="width:350px ; height:233.53px" alt="" />
                        <figcaption>
                            <h4>KAMITO ESPADA Organe</h4>
                            <p>Hãy là người đầu tiên đánh giá sản phẩm này.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}


@section productHome{
    <div class="product">
        <div class="container">


            @foreach (var item in listSellProduct)
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                <div class="product-top">

                    <div class="product-one">

                        <div class="col-md-3 product-left" style="width:285px; height:375.8px">
                            <div class="product-main simpleCart_shelfItem">


                                <a href="@url" class="mask"><img class="img-responsive zoom-img" src="@item.Image" alt="@item.Name" /></a>

                                <div class="product-bottom">
                                    <h3>@item.Name</h3>
                                    <p>Explore Now</p>
                                    <h4><a class="item_add" href="/Cart/AddItem?productId=@item.ID&quantity=1"><i></i></a> <span class=" item_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên Hệ")₫</span></h4>

                                </div>
                                <div class="srch">
                                    
                                </div>


                            </div>

                        </div>
                    </div>

                </div>
            }




            <div class="clearfix"></div>
        </div>



    </div>
}
