﻿@using ShopBug.Model.Models
@model PagedList.IPagedList<Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lý Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Quản lý thông tin sản phẩm
}

@section jsFoodter{

    <script src="~/Assets/admin/js/controller/orderController.js"></script>
}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Thông tin sản phẩm
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <input type="text" placeholder="Nhập tên sản phẩm" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                            </div>
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-success" value="Search">Search</button>
                                <a type="button" class="btn btn-primary" href="/Admin/Product/Create">Create</a>
                            </div>
                        </div>
                    </div>
                }


                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Image</th>
                                <th>CreateDate</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">

                                    <td>@item.Name</td>
                                    <td><a href="#"><img src="@item.Image" height="50" ; width="70" /></a></td>
                                    <td>@item.CreatedDate</td>
                                    <td><a href="#" class="btn-status" data-id="@item.ID">@(item.Status ? "Đã xác nhận" : "Chưa xác nhận")</a></td>
                                    <td>
                                        <a href="/Admin/Product/Edit/@item.ID"><p class="fa fa-pencil-square-o"></p>Edit</a>
                                        |
                                        <p class="fa fa-trash-o">
                                            @Ajax.ActionLink("Delete" , "Delete", new {@id = item.ID } , new AjaxOptions {
                                           Confirm="Bạn có muốn xóa sản phẩm này ?",
                                           OnComplete = "$('#row_"+@item.ID+"').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </p>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
